* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-showcase {
  background-color: #383838;
}

.small-color {
  color: #888888;
}

.showcase {
  background-color: #d35266;
}

.img-text1 p {
  width: 200px;
  height: 100px;
}

.search-img {
  width: 150px;
}

@media only screen (min-width: 768px;) {
  footer
}